[submodule "Prism"]
	path = Prism
	url = https://github.com/ment-mx/Prism
[submodule "copy-paste-guides"]
	path = copy-paste-guides
	url = https://github.com/pixelpillow/copy-paste-guides
[submodule "Sketch-Layer-Tools"]
	path = Sketch-Layer-Tools
	url = https://github.com/hrescak/Sketch-Layer-Tools
[submodule "sketch-guides"]
	path = sketch-guides
	url = https://github.com/luvmex/sketch-guides
[submodule "MagicMirror"]
	path = MagicMirror
	url = https://github.com/MagicSketch/MagicMirror
[submodule "sketch-palettes"]
	path = sketch-palettes
	url = https://github.com/andrewfiorillo/sketch-palettes
[submodule "RenameIt"]
	path = RenameIt
	url = https://github.com/rodi01/RenameIt
